.footer {
  height: 450px;
  width: 100%;
  background-color: black;
  margin-top: 150px;
  padding: 100px 5%;
  display: flex;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .section p,
.footer .section a {
  color: rgb(235, 235, 235);
}

.footer .section p {
  font-size: 18px;
  color: #8a96ed;
}

.footer .section a:hover {
  text-decoration: underline;
}

.footer .right,
.footer .left {
  display: flex;
  gap: 70px;
}

@media (max-width: 1500px) {
  .section.main {
    display: none;
  }
}

@media (max-width: 1230px) {
  .footer .right {
    display: none;
  }

  .footer {
    justify-content: flex-start;
  }
}

@media (max-width: 375px) {
  .footer .left {
    flex-direction: column;
  }

  .footer {
    height: auto;
    justify-content: center;
  }
}
