/* All Header */

.header-container {
  position: sticky;
  width: 100%;
  height: 85px;
  z-index: 2000;
  top: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.2s ease-in-out;
}

.header-container.hidden {
  top: -130px;
}

.header-container a,
.header-container button {
  font-size: 16px;
}

/* Top Header */

.header-top p {
  font-size: 12px;
}

.header-top {
  height: 45px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

.header-top span svg {
  margin-top: 1px;
}

.header-top p {
  color: rgb(231, 231, 231);
}

.header-top span {
  display: flex;
  gap: 10px;
}

/* Middle Header */

.header-middle {
  gap: 30px;
  height: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

.header-middle a {
  font-size: 12px;
}

.header-middle a:hover {
  text-decoration: underline;
}

/* Bottom Header */

.header-bottom {
  height: 50%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 5% 10px 5%;
  gap: 20px;
  z-index: 2000;
}

.header-bottom-right {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-bottom-right button {
  cursor: pointer;
}

.logo-link {
  display: flex;
}

.social-media {
  display: flex;
  gap: 20px;
}

.mobile-bottom-right {
  gap: 25px;
  align-items: center;
  display: none;
  padding: 7px 0;
}

@media (max-width: 1080px) {
  .header-bottom-right {
    display: none;
  }

  .mobile-bottom-right {
    display: flex;
  }
}

@media (max-width: 325px) {
  .header-top span p {
    font-size: 10px;
  }

  .header-top {
    justify-content: center;
  }

  .header-bottom {
    justify-content: space-around;
  }

  .header-top span svg {
    font-size: 12px;
  }
}
