.search-modal {
  width: 100vw;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 130px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  z-index: 1;
}

.search-modal.active {
  height: 100px;
  opacity: 1;
  pointer-events: all;
}

.search-modal input {
  width: 75%;
  height: 40px;
  padding: 0px 10px;
  font-size: 18px;
  position: relative;
}

.search-modal button {
  position: absolute;
  right: 13.5%;
  padding: 3px;
}
