.mobile-search-container {
  display: none;
}

.header-bottom-right input {
  height: 32px;
  border: 1px solid black;
  padding: 0 15px 0 10px;
  font-size: 14px;
  width: 210px;
  margin-right: 5px;
}

.search-container {
  position: relative;
}

.search-button {
  position: absolute;
  top: 1px;
  right: 6px;
  padding: 5px 5px;
  background-color: white;
}

.search-button:hover {
  background-color: rgb(113, 113, 216);
  color: white;
}
.fa-lg {
  font-size: 1.15em;
}

@media (max-width: 980px) {
  .mobile-search-container {
    display: flex;
  }
  .search-container {
    display: none;
  }
}
