.mobile-search-container {
  display: none;
}

.header-bottom-right input {
  height: 32px;
  border: 1px solid black;
  padding: 0 10px;
  font-size: 14px;
  width: 210px;
  margin-right: 5px;
}

.search-container {
  position: relative;
}

.search-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.fa-lg {
  font-size: 1.15em;
}

.fa-lg:hover {
  color: rgb(19, 62, 255);
}

@media (max-width: 1080px) {
  .mobile-search-container {
    display: flex;
  }
  .search-container {
    display: none;
  }
}
