.image-display-container {
  display: flex;
  justify-content: center;
  gap: 0;
  min-width: 500px;
}

.image-option-conatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  padding-right: 5px;
  gap: 20px;
}

.image-container.small {
  width: 100px;
  height: 100px;
  background-color: red;
}

@media (max-width: 1400px) {
  .image-option-conatiner {
    display: none;
  }
  .image-display-container {
    min-width: auto;
    width: 100%;
  }
}
