.image-display-container {
  display: flex;
  justify-content: center;
  gap: 0;
  min-width: 500px;
  max-width: 500px;
}

.image-container.small {
  width: 100px;
  height: 100px;
  background-color: red;
}

.image-display-container {
  position: relative;
}

@media (max-width: 1400px) {
  .image-display-container {
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .image-display-container {
    min-width: none;
    max-width: none;
  }
  .image-display-container img {
    width: 100%;
  }
}
