.information-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information-container h2 {
  font-size: 36px;
}

.information-container p {
  font-size: 16px;
  line-height: 35px;
}

.information-container span {
  display: flex;
  justify-content: space-between;
}

.information-container span p {
  font-size: 24px;
  font-weight: 500;
}

.star-icon {
  display: flex;
  font-size: 30px;
  align-items: flex-start;
}

.information-container span p:last-child {
  display: flex;
}

.discount-color {
  color: rgb(190, 24, 24);
}

.information-container .discount-tag {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 400;
  color: rgb(190, 24, 24);
}

.discounted-container {
  display: flex;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 550px) {
  .information-container h2 {
    font-size: 18px;
  }
  .information-container p {
    font-size: 14px;
  }
}
