.category.content {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.col-left {
  height: auto;
  width: 15%;
  min-width: 200px;
  z-index: 1001;
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
}

.col-right {
  height: 1900px;
  width: 85%;
}

.col-left,
.col-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 0 20px 0;
}

.category.content {
  flex-direction: column;
}

.flex {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.top-bar {
  height: 40px;
  width: 89vw;
  display: flex;
  justify-content: space-between;
}

.top-bar p {
  color: rgb(148, 147, 147);
  margin-top: 15px;
}

.top-bar .image-container {
  width: 81%;
}

.found-container {
  margin: 20px 0;
}

.filter-control-container.shift {
  top: 0;
}

.filter-control-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 83px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  z-index: 1900;
  height: 60px;
  transition: top 0.25s ease-in-out;
  transform: translateX(-12px);
  width: calc(100% + 20px);

  padding: 0 10px;
}

@media (max-width: 1530px) {
  .col-left {
    margin-right: 10px;
  }

  .col-left.hide {
    margin-right: 0px;
  }
}

@media (max-width: 850px) {
  .col-left {
    margin-right: 0px;
  }

  .category .flex .col-left {
    margin-top: 14px;
  }
}
