.item-card a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.item-card span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-card img {
  object-fit: cover;
  width: 100%;
}

.item-card.large img {
  width: 400px;
  height: 450px;
}

.item-card.large {
  width: 350px;
  height: 600px;
}

.item-card.small {
  width: 100%;
  max-width: 450px;
  height: auto;
  justify-self: center;
  padding-bottom: 20px;
}

.item-card.small h3 {
  font-size: 14px;
  font-weight: 400;
}

.discount-tag-item {
  position: absolute;
  background-color: rgb(228, 92, 92);
  color: white;
  padding: 8px 15px;
  top: 10px;
  right: -10px;
}

.item-card .discount-tag-item h3 {
  font-size: 12px;
  font-weight: 300;
}

.item-card .price-container h3 {
  font-weight: 600;
}

.price-container {
  display: flex;
  gap: 5px;
}
