.item-card a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.item-card span {
  display: flex;
  justify-content: space-between;
}

.item-card img {
  object-fit: cover;
  width: 100%;
}

.item-card.large img {
  width: 400px;
  height: 450px;
}

.item-card.large {
  width: 350px;
  height: 600px;
}

.item-card.small {
  width: 85%;
  max-width: 450px;
  height: auto;
  justify-self: end;
  padding-bottom: 20px;
}

.item-card.small h3 {
  font-size: 14px;
  font-weight: 600;
}
